## Loading Data 'Application.csv'

In [ ]:
df = spark.read.csv('/FileStore/tables/application_data.csv',header=True,inferSchema=True)
df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+--------------------------+----------+-------------+-----------------+---------------+-----------+----------+--------------+---------------+----------------+----------+----------+---------------+---------------+--------------------+---------------------------+--------------------------+-----------------------+--------------------------+--------------------------+---------------------------+----------------------+----------------------+-----------------------+--------------------+-------------------+------------------+-------------------+--------------+----------------+---------------------------+------------------+--------------+-------------+-------------+-------------+-------------+------------+--------------------+--------------+-----------------------+-----------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+------------------+--------------+--------------+------------------+-------------------+------------------------+------------------------+------------------------+------------------------+----------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+--------------------------+-------------------------+--------------------------+-------------------------+-------------------------+--------------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|REGION_POPULATION_RELATIVE|DAYS_BIRTH|DAYS_EMPLOYED|DAYS_REGISTRATION|DAYS_ID_PUBLISH|OWN_CAR_AGE|FLAG_MOBIL|FLAG_EMP_PHONE|FLAG_WORK_PHONE|FLAG_CONT_MOBILE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|REGION_RATING_CLIENT|REGION_RATING_CLIENT_W_CITY|WEEKDAY_APPR_PROCESS_START|HOUR_APPR_PROCESS_START|REG_REGION_NOT_LIVE_REGION|REG_REGION_NOT_WORK_REGION|LIVE_REGION_NOT_WORK_REGION|REG_CITY_NOT_LIVE_CITY|REG_CITY_NOT_WORK_CITY|LIVE_CITY_NOT_WORK_CITY|   ORGANIZATION_TYPE|       EXT_SOURCE_1|      EXT_SOURCE_2|       EXT_SOURCE_3|APARTMENTS_AVG|BASEMENTAREA_AVG|YEARS_BEGINEXPLUATATION_AVG|   YEARS_BUILD_AVG|COMMONAREA_AVG|ELEVATORS_AVG|ENTRANCES_AVG|FLOORSMAX_AVG|FLOORSMIN_AVG|LANDAREA_AVG|LIVINGAPARTMENTS_AVG|LIVINGAREA_AVG|NONLIVINGAPARTMENTS_AVG|NONLIVINGAREA_AVG|APARTMENTS_MODE|BASEMENTAREA_MODE|YEARS_BEGINEXPLUATATION_MODE|YEARS_BUILD_MODE|COMMONAREA_MODE|ELEVATORS_MODE|ENTRANCES_MODE|FLOORSMAX_MODE|FLOORSMIN_MODE|LANDAREA_MODE|LIVINGAPARTMENTS_MODE|LIVINGAREA_MODE|NONLIVINGAPARTMENTS_MODE|NONLIVINGAREA_MODE|APARTMENTS_MEDI|BASEMENTAREA_MEDI|YEARS_BEGINEXPLUATATION_MEDI|YEARS_BUILD_MEDI|COMMONAREA_MEDI|ELEVATORS_MEDI|ENTRANCES_MEDI|FLOORSMAX_MEDI|FLOORSMIN_MEDI|LANDAREA_MEDI|LIVINGAPARTMENTS_MEDI|LIVINGAREA_MEDI|NONLIVINGAPARTMENTS_MEDI|NONLIVINGAREA_MEDI|FONDKAPREMONT_MODE|HOUSETYPE_MODE|TOTALAREA_MODE|WALLSMATERIAL_MODE|EMERGENCYSTATE_MODE|OBS_30_CNT_SOCIAL_CIRCLE|DEF_30_CNT_SOCIAL_CIRCLE|OBS_60_CNT_SOCIAL_CIRCLE|DEF_60_CNT_SOCIAL_CIRCLE|DAYS_LAST_PHONE_CHANGE|FLAG_DOCUMENT_2|FLAG_DOCUMENT_3|FLAG_DOCUMENT_4|FLAG_DOCUMENT_5|FLAG_DOCUMENT_6|FLAG_DOCUMENT_7|FLAG_DOCUMENT_8|FLAG_DOCUMENT_9|FLAG_DOCUMENT_10|FLAG_DOCUMENT_11|FLAG_DOCUMENT_12|FLAG_DOCUMENT_13|FLAG_DOCUMENT_14|FLAG_DOCUMENT_15|FLAG_DOCUMENT_16|FLAG_DOCUMENT_17|FLAG_DOCUMENT_18|FLAG_DOCUMENT_19|FLAG_DOCUMENT_20|FLAG_DOCUMENT_21|AMT_REQ_CREDIT_BUREAU_HOUR|AMT_REQ_CREDIT_BUREAU_DAY|AMT_REQ_CREDIT_BUREAU_WEEK|AMT_REQ_CREDIT_BUREAU_MON|AMT_REQ_CREDIT_BUREAU_QRT|AMT_REQ_CREDIT_BUREAU_YEAR|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+--------------------------+----------+-------------+-----------------+---------------+-----------+----------+--------------+---------------+----------------+----------+----------+---------------+---------------+--------------------+---------------------------+--------------------------+-----------------------+--------------------------+--------------------------+---------------------------+----------------------+----------------------+-----------------------+--------------------+-------------------+------------------+-------------------+--------------+----------------+---------------------------+------------------+--------------+-------------+-------------+-------------+-------------+------------+--------------------+--------------+-----------------------+-----------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+------------------+--------------+--------------+------------------+-------------------+------------------------+------------------------+------------------------+------------------------+----------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+--------------------------+-------------------------+--------------------------+-------------------------+-------------------------+--------------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|                  0.018801|     -9461|         -637|          -3648.0|          -2120|       null|         1|             1|              0|               1|         1|         0|       Laborers|            1.0|                   2|                          2|                 WEDNESDAY|                     10|                         0|                         0|                          0|                     0|                     0|                      0|Business Entity T...|0.08303696739132256|0.2629485927471776|0.13937578009978951|        0.0247|          0.0369|                     0.9722|            0.6192|        0.0143|          0.0|        0.069|       0.0833|        0.125|      0.0369|              0.0202|         0.019|                    0.0|              0.0|         0.0252|           0.0383|                      0.9722|          0.6341|         0.0144|           0.0|         0.069|        0.0833|         0.125|       0.0377|                0.022|         0.0198|                     0.0|               0.0|          0.025|           0.0369|                      0.9722|          0.6243|         0.0144|           0.0|         0.069|        0.0833|         0.125|       0.0375|               0.0205|         0.0193|                     0.0|               0.0|  reg oper account|block of flats|        0.0149|      Stone, brick|                 No|                     2.0|                     2.0|                     2.0|                     2.0|               -1134.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       1.0|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|      0.003540999999999999|    -16765|        -1188|          -1186.0|           -291|       null|         1|             1|              0|               1|         1|         0|     Core staff|            2.0|                   1|                          1|                    MONDAY|                     11|                         0|                         0|                          0|                     0|                     0|                      0|              School| 0.3112673113812225|0.6222457752555098|               null|        0.0959|          0.0529|                     0.9851|0.7959999999999999|        0.0605|         0.08|       0.0345|       0.2917|       0.3333|       0.013|              0.0773|        0.0549|                 0.0039|           0.0098|         0.0924|           0.0538|                      0.9851|           0.804|         0.0497|        0.0806|        0.0345|        0.2917|        0.3333|       0.0128|                0.079|         0.0554|                     0.0|               0.0|         0.0968|           0.0529|                      0.9851|          0.7987|         0.0608|          0.08|        0.0345|        0.2917|        0.3333|       0.0132|               0.0787|         0.0558|                  0.0039|              0.01|  reg oper account|block of flats|        0.0714|             Block|                 No|                     1.0|                     0.0|                     1.0|                     0.0|                -828.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|                  0.010032|    -19046|         -225|          -4260.0|          -2531|       26.0|         1|             1|              1|               1|         1|         0|       Laborers|            1.0|                   2|                          2|                    MONDAY|                      9|                         0|                         0|                          0|                     0|                     0|                      0|          Government|               null|0.5559120833904428| 0.7295666907060153|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     0.0|                     0.0|                     0.0|                     0.0|                -815.0|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|         Working|Secondary / secon...|      Civil marriage|House / apartment|                  0.008019|    -19005|        -3039|          -9833.0|          -2437|       null|         1|             1|              0|               1|         0|         0|       Laborers|            2.0|                   2|                          2|                 WEDNESDAY|                     17|                         0|                         0|                          0|                     0|                     0|                      0|Business Entity T...|               null|0.6504416904014653|               null|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     2.0|                     0.0|                     2.0|                     0.0|                -617.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                      null|                     null|                      null|                     null|                     null|                      null|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|                  0.028663|    -19932|        -3038|          -4311.0|          -3458|       null|         1|             1|              0|               1|         0|         0|     Core staff|            1.0|                   2|                          2|                  THURSDAY|                     11|                         0|                         0|                          0|                     0|                     1|                      1|            Religion|               null|0.3227382869704046|               null|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     0.0|                     0.0|                     0.0|                     0.0|               -1106.0|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|

In [ ]:
cols = df.columns
cols

Out[3]: ['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [ ]:
df.count()

Out[4]: 307511

## Pandafy

In [ ]:
pdf = df.toPandas()
print(pdf)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
307506               N             0          157500.0    254700.0
307507               Y             0           72000.0    269550.0
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
...             ...  ...               ...              ...              ...
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
...                 ...                        ...                       ...
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
...                            ...                        ...
307506                         NaN                        NaN
307507                         NaN                        NaN
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
0                             0.0                         1.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             NaN                         NaN
4                             0.0                         0.0
...                           ...                         ...
307506                        NaN                         NaN
307507                        NaN                         NaN
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[307511 rows x 122 columns]

## Removing unnecessary columns

In [ ]:
unnecessary_col = []

for col in cols:
    if(col.startswith('FLAG')):
        unnecessary_col.append(col)
        
unnecessary_col = unnecessary_col[2:]
unnecessary_col

Out[6]: ['FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21']

In [ ]:
pdf = pdf.drop(columns=unnecessary_col)
pdf

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,2.0,2.0,2.0,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,1.0,0.0,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,2.0,0.0,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0.0,0.0,0.0,-273.0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.0,6.0,0.0,-1909.0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.0,0.0,0.0,-322.0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.0,0.0,0.0,-787.0,0.0,0.0,0.0,2.0,0.0,1.0

## Retrieving columns that will be used in our analysis

In [ ]:
cols = list(cols[0:16]) + ['OCCUPATION_TYPE'] + ['ORGANIZATION_TYPE']
cols
pdf = pdf[cols]
pdf

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,ORGANIZATION_TYPE
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,Business Entity Type 3
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,Core staff,School
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,Government
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,Business Entity Type 3
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,Religion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,225000.0,Unaccompanied,Working,Secondary / secondary special,Separated,With parents,Sales staff,Services
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,225000.0,Unaccompanied,Pensioner,Secondary / secondary special,Widow,House / apartment,None,XNA
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,585000.0,Unaccompanied,Working,Higher education,Separated,House / apartment,Managers,School
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,319500.0,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,Laborers,Business Entity Type 1
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,675000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,Laborers,Business Entity Type 3

## Converting Pandas Dataframe to Spark Dataframe

In [ ]:
df = spark.createDataFrame(pdf)
df.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|       State servant|    Higher education|             Married|House / apartment|     Core staff|              School|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|          Government|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|             Working|Secondary / secon...|      Civil marriage|House / apartment|       Laborers|Business Entity T...|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|            Religion|
|    100008|     0|        Cash loans|          M|           N|              Y|           0|         99000.0|  490495.5|    27517.5|       454500.0|Spouse, partner|       State servant|Secondary / secon...|             Married|House / apartment|       Laborers|               Other|
|    100009|     0|        Cash loans|          F|           Y|              Y|           1|        171000.0| 1560726.0|    41301.0|      1395000.0|  Unaccompanied|Commercial associate|    Higher education|             Married|House / apartment|    Accountants|Business Entity T...|
|    100010|     0|        Cash loans|          M|           Y|              Y|           0|        360000.0| 1530000.0|    42075.0|      1530000.0|  Unaccompanied|       State servant|    Higher education|             Married|House / apartment|       Managers|               Other|
|    100011|     0|        Cash loans|          F|           N|              Y|           0|        112500.0| 1019610.0|    33826.5|       913500.0|       Children|           Pensioner|Secondary / secon...|             Married|House / apartment|           null|                 XNA|
|    100012|     0|   Revolving loans|          M|           N|              Y|           0|        135000.0|  405000.0|    20250.0|       405000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|         Electricity|
|    100014|     0|        Cash loans|          F|           N|              Y|           1|        112500.0|  652500.0|    21177.0|       652500.0|  Unaccompanied|             Working|    Higher education|             Married|House / apartment|     Core staff|            Medicine|
|    100015|     0|        Cash loans|          F|           N|              Y|           0|       38419.155|  148365.0|    10678.5|       135000.0|       Children|           Pensioner|Secondary / secon...|             Married|House / apartment|           null|                 XNA|
|    100016|     0|        Cash loans|          F|           N|              Y|           0|         67500.0|   80865.0|     5881.5|        67500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|Business Entity T...|
|    100017|     0|        Cash loans|          M|           Y|              N|           1|        225000.0|  918468.0|    28966.5|       697500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|        Drivers|       Self-employed|
|    100018|     0|        Cash loans|          F|           N|              Y|           0|        189000.0|  773680.5|    32778.0|       679500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|   Transport: type 2|
|    100019|     0|        Cash loans|          M|           Y|              Y|           0|        157500.0|  299772.0|    20160.0|       247500.0|         Family|             Working|Secondary / secon...|Single / not married| Rented apartment|       Laborers|Business Entity T...|
|    100020|     0|        Cash loans|          M|           N|              N|           0|        108000.0|  509602.5|    26149.5|       387000.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|        Drivers|          Government|
|    100021|     0|   Revolving loans|          F|           N|              Y|           1|         81000.0|  270000.0|    13500.0|       270000.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|        Construction|
|    100022|     0|   Revolving loans|          F|           N|              Y|           0|        112500.0|  157500.0|     7875.0|       157500.0|        Other_A|             Working|Secondary / secon...|               Widow|House / apartment|       Laborers|             Housing|
|    100023|     0|        Cash loans|          F|           N|              Y|           1|         90000.0|  544491.0|    17563.5|       454500.0|  Unaccompanied|       State servant|    Higher education|Single / not married|House / apartment|     Core staff|        Kindergarten|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+
only showing top 20 rows

In [ ]:
df.count()

Out[10]: 307511

## Bucketing

In [ ]:
df.write.bucketBy(5,'SK_ID_CURR').mode('overwrite').saveAsTable('Credit_bucket',format='Parquet')

## Loading Bucketed Data

In [ ]:
ef = spark.read.table('Credit_bucket')
ef.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-----------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|     OCCUPATION_TYPE|ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-----------------+
|    297049|     0|        Cash loans|          F|           N|              Y|           0|        292500.0|  652500.0|    19912.5|       652500.0|  Unaccompanied|           Pensioner|    Higher education|             Married|House / apartment|                null|              XNA|
|    297060|     0|        Cash loans|          M|           Y|              N|           0|        225000.0|  450000.0|    21109.5|       450000.0|  Unaccompanied|             Working|    Higher education|Single / not married|     With parents|High skill tech s...| Industry: type 3|
|    297066|     0|        Cash loans|          F|           N|              Y|           2|        112500.0|  261000.0|     9967.5|       261000.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|                null|      Agriculture|
|    297068|     0|        Cash loans|          M|           Y|              Y|           0|        225000.0|  473760.0|    53451.0|       450000.0|  Unaccompanied|Commercial associate|    Higher education|      Civil marriage|House / apartment|             Drivers|Transport: type 4|
|    297074|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  850500.0|    43555.5|       850500.0|Spouse, partner|Commercial associate|Secondary / secon...|             Married|House / apartment|      Medicine staff|            Hotel|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-----------------+
only showing top 5 rows

## Filtering Bucketed Data on behalf of SK_ID

In [ ]:
ef1 = ef.filter(ef['SK_ID_CURR']==297090)
ef1.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+------------------+-----------------+---------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+------------------+-----------------+---------------+--------------------+
|    297090|     0|        Cash loans|          F|           N|              Y|           0|         67500.0|  755190.0|    38556.0|       675000.0|  Unaccompanied|         Working|Secondary / secon...|    Civil marriage|House / apartment| Cleaning staff|Business Entity T...|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+------------------+-----------------+---------------+--------------------+

In [ ]:
ef3 = ef.filter(ef['AMT_INCOME_TOTAL']>50000)
ef3.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|  NAME_HOUSING_TYPE|     OCCUPATION_TYPE|   ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+
|    297049|     0|        Cash loans|          F|           N|              Y|           0|        292500.0|  652500.0|    19912.5|       652500.0|  Unaccompanied|           Pensioner|    Higher education|             Married|  House / apartment|                null|                 XNA|
|    297060|     0|        Cash loans|          M|           Y|              N|           0|        225000.0|  450000.0|    21109.5|       450000.0|  Unaccompanied|             Working|    Higher education|Single / not married|       With parents|High skill tech s...|    Industry: type 3|
|    297066|     0|        Cash loans|          F|           N|              Y|           2|        112500.0|  261000.0|     9967.5|       261000.0|  Unaccompanied|             Working|Secondary / secon...|             Married|  House / apartment|                null|         Agriculture|
|    297068|     0|        Cash loans|          M|           Y|              Y|           0|        225000.0|  473760.0|    53451.0|       450000.0|  Unaccompanied|Commercial associate|    Higher education|      Civil marriage|  House / apartment|             Drivers|   Transport: type 4|
|    297074|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  850500.0|    43555.5|       850500.0|Spouse, partner|Commercial associate|Secondary / secon...|             Married|  House / apartment|      Medicine staff|               Hotel|
|    297078|     0|        Cash loans|          F|           N|              Y|           0|        810000.0|  170640.0|    13612.5|       135000.0|  Unaccompanied|             Working|    Higher education|      Civil marriage|  House / apartment|                null|Business Entity T...|
|    297083|     0|        Cash loans|          M|           Y|              Y|           0|        292500.0| 1528200.0|    53248.5|      1350000.0|  Unaccompanied|Commercial associate|    Higher education|             Married|  House / apartment|High skill tech s...|Business Entity T...|
|    297090|     0|        Cash loans|          F|           N|              Y|           0|         67500.0|  755190.0|    38556.0|       675000.0|  Unaccompanied|             Working|Secondary / secon...|      Civil marriage|  House / apartment|      Cleaning staff|Business Entity T...|
|    297091|     0|        Cash loans|          F|           Y|              N|           0|        180000.0| 1125000.0|    32895.0|      1125000.0|  Unaccompanied|Commercial associate|Secondary / secon...|             Married|  House / apartment|            Managers|   Industry: type 11|
|    297092|     0|        Cash loans|          M|           Y|              N|           0|        144000.0|  463500.0|    14179.5|       463500.0|  Unaccompanied|           Pensioner|    Higher education|             Married|  House / apartment|                null|                 XNA|
|    297094|     0|        Cash loans|          F|           N|              Y|           0|         90000.0|  808650.0|    26217.0|       675000.0|         Family|       State servant|Secondary / secon...|Single / not married|  House / apartment|       Cooking staff|              School|
|    297108|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  715500.0|    30312.0|       715500.0|  Unaccompanied|           Pensioner|Secondary / secon...|             Married|Municipal apartment|                null|                 XNA|
|    297120|     0|        Cash loans|          F|           N|              N|           0|        202500.0|  700830.0|    22738.5|       585000.0|  Unaccompanied|             Working|Secondary / secon...|               Widow|  House / apartment|                null|          Restaurant|
|    297125|     0|        Cash loans|          F|           N|              Y|           2|         90000.0|  276408.0|    16830.0|       198000.0|         Family|             Working|Secondary / secon...|      Civil marriage|  House / apartment|         Sales staff|Business Entity T...|
|    297126|     0|        Cash loans|          F|           Y|              N|           1|        225000.0|  239850.0|    22423.5|       225000.0|  Unaccompanied|Commercial associate|Secondary / secon...|             Married|  House / apartment|         Sales staff|       Self-employed|
|    297133|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  450000.0|    24543.0|       450000.0|       Children|           Pensioner|Secondary / secon...|             Married|  House / apartment|                null|                 XNA|
|    297134|     0|        Cash loans|          M|           Y|              N|           0|        171000.0|  625536.0|    31905.0|       540000.0|  Unaccompanied|             Working|    Higher education|             Married|  House / apartment|            Managers|            Security|
|    297150|     0|        Cash loans|          F|           N|              N|           0|         85500.0|  728460.0|    38448.0|       675000.0|  Unaccompanied|           Pensioner|Secondary / secon...|             Married|  House / apartment|                null|                 XNA|
|    297151|     0|        Cash loans|          F|           N|              Y|           0|         67500.0|  808650.0|    26086.5|       675000.0|  Unaccompanied|           Pensioner|Secondary / secon...|             Married|  House / apartment|                null|                 XNA|
|    297155|     0|        Cash loans|          F|           N|              Y|           0|        382500.0|  654736.5|    63913.5|       603000.0|  Unaccompanied|Commercial associate|   Incomplete higher|             Married|Municipal apartment|         Accountants|Business Entity T...|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-------------------+--------------------+--------------------+
only showing top 20 rows

## Bucketing inside Partitioning

In [ ]:
df.write.option('header',True) \
    .partitionBy('NAME_FAMILY_STATUS') \
    .bucketBy(5,'AMT_INCOME_TOTAL') \
    .mode('overwrite') \
    .saveAsTable('creditbucket_partition',format='Parquet')

## Loading BucketPartitioned Data

In [ ]:
bpdf = spark.read.table('creditbucket_partition')
bpdf.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|NAME_HOUSING_TYPE|     OCCUPATION_TYPE|   ORGANIZATION_TYPE|NAME_FAMILY_STATUS|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|    181212|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  397881.0|    31563.0|       328500.0|  Unaccompanied|             Working|Secondary / secon...|House / apartment|      Cleaning staff|Business Entity T...|    Civil marriage|
|    181218|     0|        Cash loans|          F|           N|              Y|           1|        112500.0|  270000.0|    12717.0|       270000.0|  Unaccompanied|             Working|    Higher education|House / apartment|High skill tech s...|            Military|    Civil marriage|
|    181275|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  703728.0|    22999.5|       607500.0|  Unaccompanied|             Working|Secondary / secon...|House / apartment|      Security staff|            Security|    Civil marriage|
|    181296|     0|        Cash loans|          M|           Y|              Y|           0|        211500.0| 1313707.5|    44977.5|      1192500.0|         Family|Commercial associate|    Higher education|House / apartment|         Sales staff|       Trade: type 2|    Civil marriage|
|    181319|     0|        Cash loans|          F|           N|              Y|           1|        112500.0|  948582.0|    27733.5|       679500.0|  Unaccompanied|             Working|    Higher education|House / apartment|         Sales staff|               Other|    Civil marriage|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
only showing top 5 rows

## Multiple Filtering

In [ ]:
from pyspark.sql import functions as f
bpdf1 = bpdf.filter((f.col('NAME_CONTRACT_TYPE')=='Cash loans') & (f.col('NAME_TYPE_SUITE')=='Family') & (f.col('AMT_INCOME_TOTAL')>50000))
bpdf1.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|NAME_HOUSING_TYPE|     OCCUPATION_TYPE|   ORGANIZATION_TYPE|NAME_FAMILY_STATUS|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
|    181205|     0|        Cash loans|          M|           N|              N|           0|        180000.0|  970380.0|    28503.0|       810000.0|         Family|           Pensioner|Secondary / secon...|House / apartment|                null|                 XNA|           Married|
|    181209|     0|        Cash loans|          F|           N|              Y|           0|         85500.0|  794173.5|    35113.5|       697500.0|         Family|           Pensioner|    Higher education|House / apartment|                null|                 XNA|           Married|
|    181240|     0|        Cash loans|          M|           N|              Y|           0|        103500.0|  646920.0|    20997.0|       540000.0|         Family|           Pensioner|Secondary / secon...|House / apartment|                null|                 XNA|           Married|
|    181266|     0|        Cash loans|          F|           Y|              Y|           1|        180000.0| 1168452.0|    34294.5|       837000.0|         Family|             Working|Secondary / secon...|House / apartment|             Drivers|Business Entity T...|           Married|
|    181283|     0|        Cash loans|          M|           Y|              Y|           1|        180000.0|  659610.0|    21406.5|       472500.0|         Family|             Working|Secondary / secon...| Rented apartment|             Drivers|Business Entity T...|           Married|
|    181308|     0|        Cash loans|          F|           N|              N|           0|        103500.0|  242329.5|    18882.0|       220500.0|         Family|           Pensioner|Secondary / secon...|House / apartment|                null|                 XNA|           Married|
|    181351|     0|        Cash loans|          F|           Y|              Y|           0|        112500.0|  147726.0|    17662.5|       130500.0|         Family|Commercial associate|Secondary / secon...|House / apartment|         Sales staff|Business Entity T...|           Married|
|    181397|     0|        Cash loans|          F|           N|              Y|           1|        103500.0| 1056447.0|    31018.5|       922500.0|         Family|Commercial associate|Secondary / secon...|House / apartment|                null|       Trade: type 1|           Married|
|    181402|     0|        Cash loans|          F|           N|              Y|           1|        180000.0| 1206000.0|    39987.0|      1206000.0|         Family|Commercial associate|Secondary / secon...|House / apartment|          Core staff|       Self-employed|           Married|
|    181513|     0|        Cash loans|          F|           N|              N|           0|         90000.0|  808650.0|    26217.0|       675000.0|         Family|           Pensioner|    Higher education|House / apartment|                null|                 XNA|           Married|
|    181576|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  572076.0|    39946.5|       540000.0|         Family|             Working|Secondary / secon...|House / apartment|                null|Business Entity T...|           Married|
|    181586|     0|        Cash loans|          F|           Y|              N|           0|        112500.0|  774000.0|    30825.0|       774000.0|         Family|             Working|Secondary / secon...|House / apartment|      Medicine staff|               Other|           Married|
|    181595|     0|        Cash loans|          M|           N|              Y|           2|         90000.0|  808650.0|    26217.0|       675000.0|         Family|             Working|Secondary / secon...|House / apartment|  Low-skill Laborers|Business Entity T...|           Married|
|    181604|     0|        Cash loans|          M|           Y|              Y|           0|        180000.0|  503676.0|    22315.5|       382500.0|         Family|Commercial associate|    Higher education|House / apartment|            Laborers|Business Entity T...|           Married|
|    181694|     0|        Cash loans|          F|           N|              Y|           0|        112500.0|  675000.0|    32602.5|       675000.0|         Family|             Working|    Higher education|House / apartment|                null|        Kindergarten|           Married|
|    181717|     0|        Cash loans|          F|           N|              N|           1|        180000.0|  781920.0|    31522.5|       675000.0|         Family|       State servant|    Higher education|House / apartment|High skill tech s...|            Military|           Married|
|    181762|     0|        Cash loans|          M|           N|              Y|           0|         90000.0|  341280.0|    24961.5|       270000.0|         Family|             Working|Secondary / secon...|House / apartment|            Laborers|Business Entity T...|           Married|
|    181796|     0|        Cash loans|          F|           N|              N|           0|        180000.0|  675000.0|    21775.5|       675000.0|         Family|             Working|Secondary / secon...|House / apartment|      Security staff|            Security|           Married|
|    181828|     0|        Cash loans|          F|           N|              Y|           1|         90000.0|  101880.0|    11101.5|        90000.0|         Family|Commercial associate|Secondary / secon...|House / apartment|                null|Business Entity T...|           Married|
|    181840|     1|        Cash loans|          F|           N|              Y|           0|        112500.0| 1255680.0|    41625.0|      1125000.0|         Family|       State servant|Secondary / secon...|House / apartment|            Laborers|            Medicine|           Married|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+-----------------+--------------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
df.show(1)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+
only showing top 1 row

## Creating Widgets

In [ ]:
dbutils.widgets.text('max','')
dbutils.widgets.text('min','')
dbutils.widgets.combobox('contract','',['Cash loans','Revolving loans'],'Choose loan_Type')
dbutils.widgets.combobox('family','',['Civil marriage','Married','Separated','Single / not married','Widow'],'Choose Family_status')

In [ ]:
mx = dbutils.widgets.get("max")
mi = dbutils.widgets.get("min")
con = dbutils.widgets.get("contract")
fam = dbutils.widgets.get("family")

In [ ]:
wdf = df.filter(
    (df['NAME_FAMILY_STATUS']==fam) & 
    (df['NAME_CONTRACT_TYPE']==con) & 
    (df['AMT_INCOME_TOTAL']>mi) & 
    (df['AMT_INCOME_TOTAL']<mx))
wdf.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+------------------+-----------------+--------------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|     OCCUPATION_TYPE|   ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+------------------+-----------------+--------------------+--------------------+
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|       State servant|    Higher education|           Married|House / apartment|          Core staff|              School|
|    100009|     0|        Cash loans|          F|           Y|              Y|           1|        171000.0| 1560726.0|    41301.0|      1395000.0|  Unaccompanied|Commercial associate|    Higher education|           Married|House / apartment|         Accountants|Business Entity T...|
|    100011|     0|        Cash loans|          F|           N|              Y|           0|        112500.0| 1019610.0|    33826.5|       913500.0|       Children|           Pensioner|Secondary / secon...|           Married|House / apartment|                null|                 XNA|
|    100014|     0|        Cash loans|          F|           N|              Y|           1|        112500.0|  652500.0|    21177.0|       652500.0|  Unaccompanied|             Working|    Higher education|           Married|House / apartment|          Core staff|            Medicine|
|    100017|     0|        Cash loans|          M|           Y|              N|           1|        225000.0|  918468.0|    28966.5|       697500.0|  Unaccompanied|             Working|Secondary / secon...|           Married|House / apartment|             Drivers|       Self-employed|
|    100018|     0|        Cash loans|          F|           N|              Y|           0|        189000.0|  773680.5|    32778.0|       679500.0|  Unaccompanied|             Working|Secondary / secon...|           Married|House / apartment|            Laborers|   Transport: type 2|
|    100020|     0|        Cash loans|          M|           N|              N|           0|        108000.0|  509602.5|    26149.5|       387000.0|  Unaccompanied|             Working|Secondary / secon...|           Married|House / apartment|             Drivers|          Government|
|    100025|     0|        Cash loans|          F|           Y|              Y|           1|        202500.0| 1132573.5|    37561.5|       927000.0|  Unaccompanied|Commercial associate|Secondary / secon...|           Married|House / apartment|         Sales staff|       Trade: type 7|
|    100029|     0|        Cash loans|          M|           Y|              N|           2|        135000.0|  247500.0|    12703.5|       247500.0|  Unaccompanied|             Working|Secondary / secon...|           Married|House / apartment|             Drivers|Business Entity T...|
|    100032|     0|        Cash loans|          M|           N|              Y|           1|        112500.0|  327024.0|    23827.5|       270000.0|         Family|             Working|Secondary / secon...|           Married|House / apartment|            Laborers|   Industry: type 11|
|    100040|     0|        Cash loans|          F|           N|              Y|           0|        135000.0| 1125000.0|    32895.0|      1125000.0|  Unaccompanied|       State servant|    Higher education|           Married|House / apartment|          Core staff| Security Ministries|
|    100041|     0|        Cash loans|          F|           N|              N|           0|        112500.0|  450000.0|    44509.5|       450000.0|  Unaccompanied|             Working|    Higher education|           Married|House / apartment|         Sales staff|       Self-employed|
|    100043|     0|        Cash loans|          F|           N|              Y|           2|        198000.0|  641173.5|    23157.0|       553500.0|  Unaccompanied|Commercial associate|Secondary / secon...|           Married|House / apartment|Private service s...|               Other|
|    100044|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  454500.0|    15151.5|       454500.0|  Unaccompanied|             Working|Secondary / secon...|           Married|House / apartment|             Drivers|   Transport: type 4|
|    100047|     1|        Cash loans|          M|           N|              Y|           0|        202500.0| 1193580.0|    35028.0|       855000.0|  Unaccompanied|Commercial associate|Secondary / secon...|           Married|House / apartment|            Laborers|Business Entity T...|
|    100048|     0|        Cash loans|          F|           N|              Y|           0|        202500.0|  604152.0|    29196.0|       540000.0|  Unaccompanied|             Working|Secondary / secon...|           Married|House / apartment|            Laborers|    Industry: type 1|
|    100055|     0|        Cash loans|          F|           N|              N|           0|        130500.0| 1350000.0|    37255.5|      1350000.0|  Unaccompanied|       State servant|Secondary / secon...|           Married|House / apartment|            Managers|          Government|
|    100061|     0|        Cash loans|          F|           N|              Y|           2|        225000.0|  314055.0|    16164.0|       238500.0|  Unaccompanied|Commercial associate|    Higher education|           Married|House / apartment|          Core staff|       Self-employed|
|    100063|     0|        Cash loans|          F|           N|              Y|           0|        180000.0|  837427.5|    45558.0|       666000.0|  Unaccompanied|             Working|    Higher education|           Married|House / apartment|            Managers|            Medicine|
|    100071|     0|        Cash loans|          F|           N|              Y|           0|        180000.0| 1663987.5|    86989.5|      1588500.0|         Family|Commercial associate|Secondary / secon...|           Married|House / apartment|         Accountants|   Industry: type 11|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+------------------+-----------------+--------------------+--------------------+
only showing top 20 rows

## Checking Null values in each column

In [ ]:
from pyspark.sql import functions as f

df1 = df.select([f.sum(f.col(c).isNull().cast('int')).alias(c) for c in df.columns])
df1.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|         0|     0|                 0|          0|           0|              0|           0|               0|         0|         12|            278|           1292|               0|                  0|                 0|                0|          96391|                0|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+

## Finding mean of column 'AMT_ANNUITY'

In [ ]:
from pyspark.sql import functions as f
mean_amt_annuity = df.agg(f.mean(f.col('AMT_ANNUITY')))
mean_amt_annuity.show()

+------------------+
|  avg(AMT_ANNUITY)|
+------------------+
|27108.573909183444|
+------------------+

## Filling null values in 'AMT_ANNUITY' column

In [ ]:
df = df.fillna(value=27108.573909183444,subset=['AMT_ANNUITY'])
df.select([f.sum(f.col(c).isNull().cast('int')).alias(c) for c in df.columns]).show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|         0|     0|                 0|          0|           0|              0|           0|               0|         0|          0|            278|           1292|               0|                  0|                 0|                0|          96391|                0|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+

## Finding mean in 'AMT_GOODS_PRICE' column

In [ ]:
mean_amt_goods = df.agg(f.mean(f.col('AMT_GOODS_PRICE')))
mean_amt_goods.show()

+--------------------+
|avg(AMT_GOODS_PRICE)|
+--------------------+
|   538396.2074288895|
+--------------------+

## Filling null values in 'AMT_GOODS_PRICE' column

In [ ]:
from pyspark.sql import functions as f
df = df.fillna(value=538396.2074288895,subset=['AMT_GOODS_PRICE'])
df.select([f.sum(f.col(c).isNull().cast('int')).alias(c) for c in df.columns]).show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|         0|     0|                 0|          0|           0|              0|           0|               0|         0|          0|              0|           1292|               0|                  0|                 0|                0|          96391|                0|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+

## Finding value count

In [ ]:
nam_df = df.groupBy('NAME_TYPE_SUITE').count().orderBy('count',ascending=False)
nam_df.show()

+---------------+------+
|NAME_TYPE_SUITE| count|
+---------------+------+
|  Unaccompanied|248526|
|         Family| 40149|
|Spouse, partner| 11370|
|       Children|  3267|
|        Other_B|  1770|
|           null|  1292|
|        Other_A|   866|
|Group of people|   271|
+---------------+------+

## Getting max. value that appears most times

In [ ]:
max_name = df.groupBy('NAME_TYPE_SUITE').count().agg(
    f.max('NAME_TYPE_SUITE')).collect()[0][0]
print(max_name)

Unaccompanied

## Filling null values

In [ ]:
df = df.fillna(value='Unaccompanied',subset=['NAME_TYPE_SUITE'])
df.select([f.sum(f.col(c).isNull().cast('int')).alias(c) for c in df.columns]).show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+
|         0|     0|                 0|          0|           0|              0|           0|               0|         0|          0|              0|              0|               0|                  0|                 0|                0|          96391|                0|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+-------------------+------------------+-----------------+---------------+-----------------+

## Finding Quantile

In [ ]:
quantiles = df.approxQuantile('AMT_INCOME_TOTAL',[0.25,0.75],0.0)
q1,q3 = quantiles[0],quantiles[1]
print(q1,q3)
iqr = q3-q1
print(iqr)

112500.0 202500.0
90000.0

## Calculate Lower extreme & upper extreme

In [ ]:
lx = q1 - 1.5*iqr
ux = q3 + 1.5*iqr
print(lx,ux)

-22500.0 337500.0

## Getting data that have the value below upper extreme

In [ ]:
df = df.filter(df['AMT_INCOME_TOTAL']<337500)
df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|              School|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|          Government|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|         Working|Secondary / secon...|      Civil marriage|House / apartment|       Laborers|Business Entity T...|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|            Religion|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+
only showing top 5 rows

## Analysis

In [ ]:
cont_df = df.groupBy('NAME_CONTRACT_TYPE').count()
display(cont_df)

NAME_CONTRACT_TYPE,count
Revolving loans,27492
Cash loans,264194

Databricks visualization. Run in Databricks to view.

## Code Gender count

In [ ]:
gen_df = df.groupBy('CODE_GENDER').count()
gen_df.show()

+-----------+------+
|CODE_GENDER| count|
+-----------+------+
|          F|194847|
|          M| 96835|
|        XNA|     4|
+-----------+------+

## Replacing the value 'XNA' with 'F'

In [ ]:
from pyspark.sql.functions import when
df = df.withColumn('CODE_GENDER',when(df['CODE_GENDER']=='XNA','F').otherwise(df['CODE_GENDER']))
code_df = df.groupBy('CODE_GENDER').count()
display(code_df)

CODE_GENDER,count
F,194851
M,96835

Databricks visualization. Run in Databricks to view.

## How many male,female owned car

In [ ]:
mfdf = df.groupBy('CODE_GENDER','FLAG_OWN_CAR').agg(
    f.count('FLAG_OWN_CAR').alias('COUNT_OF_OWNEDCAR')
)
mfdf.show()
display(mfdf)

+-----------+------------+-----------------+
|CODE_GENDER|FLAG_OWN_CAR|COUNT_OF_OWNEDCAR|
+-----------+------------+-----------------+
|          F|           N|           153084|
|          F|           Y|            41767|
|          M|           Y|            53823|
|          M|           N|            43012|
+-----------+------------+-----------------+

CODE_GENDER,FLAG_OWN_CAR,COUNT_OF_OWNEDCAR
F,N,153084
F,Y,41767
M,Y,53823
M,N,43012

Databricks visualization. Run in Databricks to view.

## lets Categorize income column

In [ ]:
pdf = df.toPandas()
print(pdf)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
...            ...     ...                ...         ...          ...
291681      456251       0         Cash loans           M            N
291682      456252       0         Cash loans           F            N
291683      456253       0         Cash loans           F            N
291684      456254       1         Cash loans           F            N
291685      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0          202500.0    406597.5
1                    N             0          270000.0   1293502.5
2                    Y             0           67500.0    135000.0
3                    Y             0          135000.0    312682.5
4                    Y             0          121500.0    513000.0
...                ...           ...               ...         ...
291681               N             0          157500.0    254700.0
291682               Y             0           72000.0    269550.0
291683               Y             0          153000.0    677664.0
291684               Y             0          171000.0    370107.0
291685               N             0          157500.0    675000.0

        AMT_ANNUITY  AMT_GOODS_PRICE NAME_TYPE_SUITE      NAME_INCOME_TYPE  \
0           24700.5         351000.0   Unaccompanied               Working
1           35698.5        1129500.0          Family         State servant
2            6750.0         135000.0   Unaccompanied               Working
3           29686.5         297000.0   Unaccompanied               Working
4           21865.5         513000.0   Unaccompanied               Working
...             ...              ...             ...                   ...
291681      27558.0         225000.0   Unaccompanied               Working
291682      12001.5         225000.0   Unaccompanied             Pensioner
291683      29979.0         585000.0   Unaccompanied               Working
291684      20205.0         319500.0   Unaccompanied  Commercial associate
291685      49117.5         675000.0   Unaccompanied  Commercial associate

                  NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  \
0       Secondary / secondary special  Single / not married
1                    Higher education               Married
2       Secondary / secondary special  Single / not married
3       Secondary / secondary special        Civil marriage
4       Secondary / secondary special  Single / not married
...                               ...                   ...
291681  Secondary / secondary special             Separated
291682  Secondary / secondary special                 Widow
291683               Higher education             Separated
291684  Secondary / secondary special               Married
291685               Higher education               Married

        NAME_HOUSING_TYPE OCCUPATION_TYPE       ORGANIZATION_TYPE
0       House / apartment        Laborers  Business Entity Type 3
1       House / apartment      Core staff                  School
2       House / apartment        Laborers              Government
3       House / apartment        Laborers  Business Entity Type 3
4       House / apartment      Core staff                Religion
...                   ...             ...                     ...
291681       With parents     Sales staff                Services
291682  House / apartment            None                     XNA
291683  House / apartment        Managers                  School
291684  House / apartment        Laborers  Business Entity Type 1
291685  House / apartment        Laborers  Business Entity Type 3

[291686 rows x 18 columns]

In [ ]:
def income_total(salary):
    if (salary<=50000):
        return '0-50K'
    elif (salary<=100000):
        return '50-1L'
    elif (salary<=150000):
        return '1L-1.5L'
    elif (salary<=200000):
        return '1.5l-2L'
    elif (salary<=250000):
        return '2L-2.5L'
    else:
        return 'Above 3L'
    
income_total(2340067)

Out[46]: 'Above 3L'

## Create new column Income range and Applying function

In [ ]:
from pyspark.sql import functions as f
from pyspark.sql.types import StringType

sparkfun = f.udf(income_total,StringType())

df = df.withColumn('INCOME_RANGE',sparkfun(df['AMT_INCOME_TOTAL']))
df.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|INCOME_RANGE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|     2L-2.5L|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|       State servant|    Higher education|             Married|House / apartment|     Core staff|              School|    Above 3L|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|          Government|       50-1L|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|             Working|Secondary / secon...|      Civil marriage|House / apartment|       Laborers|Business Entity T...|     1L-1.5L|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|            Religion|     1L-1.5L|
|    100008|     0|        Cash loans|          M|           N|              Y|           0|         99000.0|  490495.5|    27517.5|       454500.0|Spouse, partner|       State servant|Secondary / secon...|             Married|House / apartment|       Laborers|               Other|       50-1L|
|    100009|     0|        Cash loans|          F|           Y|              Y|           1|        171000.0| 1560726.0|    41301.0|      1395000.0|  Unaccompanied|Commercial associate|    Higher education|             Married|House / apartment|    Accountants|Business Entity T...|     1.5l-2L|
|    100011|     0|        Cash loans|          F|           N|              Y|           0|        112500.0| 1019610.0|    33826.5|       913500.0|       Children|           Pensioner|Secondary / secon...|             Married|House / apartment|           null|                 XNA|     1L-1.5L|
|    100012|     0|   Revolving loans|          M|           N|              Y|           0|        135000.0|  405000.0|    20250.0|       405000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|         Electricity|     1L-1.5L|
|    100014|     0|        Cash loans|          F|           N|              Y|           1|        112500.0|  652500.0|    21177.0|       652500.0|  Unaccompanied|             Working|    Higher education|             Married|House / apartment|     Core staff|            Medicine|     1L-1.5L|
|    100015|     0|        Cash loans|          F|           N|              Y|           0|       38419.155|  148365.0|    10678.5|       135000.0|       Children|           Pensioner|Secondary / secon...|             Married|House / apartment|           null|                 XNA|       0-50K|
|    100016|     0|        Cash loans|          F|           N|              Y|           0|         67500.0|   80865.0|     5881.5|        67500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|Business Entity T...|       50-1L|
|    100017|     0|        Cash loans|          M|           Y|              N|           1|        225000.0|  918468.0|    28966.5|       697500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|        Drivers|       Self-employed|     2L-2.5L|
|    100018|     0|        Cash loans|          F|           N|              Y|           0|        189000.0|  773680.5|    32778.0|       679500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|   Transport: type 2|     1.5l-2L|
|    100019|     0|        Cash loans|          M|           Y|              Y|           0|        157500.0|  299772.0|    20160.0|       247500.0|         Family|             Working|Secondary / secon...|Single / not married| Rented apartment|       Laborers|Business Entity T...|     1.5l-2L|
|    100020|     0|        Cash loans|          M|           N|              N|           0|        108000.0|  509602.5|    26149.5|       387000.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|        Drivers|          Government|     1L-1.5L|
|    100021|     0|   Revolving loans|          F|           N|              Y|           1|         81000.0|  270000.0|    13500.0|       270000.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|        Construction|       50-1L|
|    100022|     0|   Revolving loans|          F|           N|              Y|           0|        112500.0|  157500.0|     7875.0|       157500.0|        Other_A|             Working|Secondary / secon...|               Widow|House / apartment|       Laborers|             Housing|     1L-1.5L|
|    100023|     0|        Cash loans|          F|           N|              Y|           1|         90000.0|  544491.0|    17563.5|       454500.0|  Unaccompanied|       State servant|    Higher education|Single / not married|House / apartment|     Core staff|        Kindergarten|       50-1L|
|    100024|     0|   Revolving loans|          M|           Y|              Y|           0|        135000.0|  427500.0|    21375.0|       427500.0|  Unaccompanied|             Working|Secondary / secon...|             Married|House / apartment|       Laborers|       Self-employed|     1L-1.5L|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+
only showing top 20 rows

## Lets count 'INCOME_RANGE'

In [ ]:
income_df = df.groupBy('INCOME_RANGE').count().orderBy('count',ascending=False)
income_df.show()
display(income_df)

+------------+-----+
|INCOME_RANGE|count|
+------------+-----+
|     1L-1.5L|91591|
|     1.5l-2L|64307|
|       50-1L|59181|
|     2L-2.5L|48137|
|    Above 3L|23953|
|       0-50K| 4517|
+------------+-----+

INCOME_RANGE,count
1L-1.5L,91591
1.5l-2L,64307
50-1L,59181
2L-2.5L,48137
Above 3L,23953
0-50K,4517

Databricks visualization. Run in Databricks to view.

## Income range of AMT_CREDIT

In [ ]:
def credit_income_total(credit):
    if (credit<=100000):
        return '0-1L'
    elif (credit<=500000):
        return '1L-5L'
    elif (credit<=1000000):
        return '5L-10L'
    elif (credit<=1500000):
        return '10L-15L'
    elif (credit<=2000000):
        return '15L-20L'
    elif (credit<=2500000):
        return '20L-25L'
    elif (credit<=3000000):
        return '25L-30L'
    else:
        return 'Above 35L'

credit_income_total(68628)

Out[49]: '0-1L'

## Applying function to dataframe

In [ ]:
sparkfun = f.udf(credit_income_total,StringType())
df = df.withColumn('CREDIT_INCOME_RANGE',sparkfun(df['AMT_CREDIT']))
df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|INCOME_RANGE|CREDIT_INCOME_RANGE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|     2L-2.5L|              1L-5L|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|              School|    Above 3L|            10L-15L|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|          Government|       50-1L|              1L-5L|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|         Working|Secondary / secon...|      Civil marriage|House / apartment|       Laborers|Business Entity T...|     1L-1.5L|              1L-5L|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|            Religion|     1L-1.5L|             5L-10L|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+
only showing top 5 rows

In [ ]:
credit_df = df.groupBy('CREDIT_INCOME_RANGE').count().orderBy('count',ascending=False)
credit_df.show()
display(credit_df)

+-------------------+------+
|CREDIT_INCOME_RANGE| count|
+-------------------+------+
|              1L-5L|140420|
|             5L-10L|102274|
|            10L-15L| 34798|
|            15L-20L|  7026|
|               0-1L|  5983|
|            20L-25L|  1004|
|            25L-30L|   174|
|          Above 35L|     7|
+-------------------+------+

CREDIT_INCOME_RANGE,count
1L-5L,140420
5L-10L,102274
10L-15L,34798
15L-20L,7026
0-1L,5983
20L-25L,1004
25L-30L,174
Above 35L,7

Databricks visualization. Run in Databricks to view.

## Analysis on Occupation_Type and Income_range

In [ ]:
idf = df.groupBy('OCCUPATION_TYPE','INCOME_RANGE') \
    .agg(f.count('INCOME_RANGE').alias('COUNT')) \
    .orderBy('COUNT',ascending=False)

idf.show()
display(idf)

+---------------+------------+-----+
|OCCUPATION_TYPE|INCOME_RANGE|COUNT|
+---------------+------------+-----+
|           null|     1L-1.5L|28773|
|           null|       50-1L|24282|
|           null|     1.5l-2L|18090|
|       Laborers|     1L-1.5L|17889|
|       Laborers|     1.5l-2L|13109|
|           null|     2L-2.5L|12655|
|    Sales staff|     1L-1.5L|10832|
|       Laborers|     2L-2.5L| 9315|
|       Laborers|       50-1L| 8940|
|     Core staff|     1L-1.5L| 8366|
|    Sales staff|       50-1L| 7499|
|    Sales staff|     1.5l-2L| 6581|
|     Core staff|     1.5l-2L| 6043|
|           null|    Above 3L| 5956|
|        Drivers|     1L-1.5L| 5044|
|        Drivers|     1.5l-2L| 4920|
|       Managers|     2L-2.5L| 4756|
|     Core staff|       50-1L| 4647|
|     Core staff|     2L-2.5L| 4445|
|    Sales staff|     2L-2.5L| 4252|
+---------------+------------+-----+
only showing top 20 rows

OCCUPATION_TYPE,INCOME_RANGE,COUNT
null,1L-1.5L,28773
null,50-1L,24282
null,1.5l-2L,18090
Laborers,1L-1.5L,17889
Laborers,1.5l-2L,13109
null,2L-2.5L,12655
Sales staff,1L-1.5L,10832
Laborers,2L-2.5L,9315
Laborers,50-1L,8940
Core staff,1L-1.5L,8366
Sales staff,50-1L,7499
Sales staff,1.5l-2L,6581
Core staff,1.5l-2L,6043
null,Above 3L,5956
Drivers,1L-1.5L,5044
Drivers,1.5l-2L,4920
Managers,2L-2.5L,4756
Core staff,50-1L,4647
Core staff,2L-2.5L,4445
Sales staff,2L-2.5L,4252
Drivers,2L-2.5L,4040
Laborers,Above 3L,3949
Managers,1.5l-2L,3921
Managers,Above 3L,3837
Managers,1L-1.5L,3278
High skill tech staff,1L-1.5L,3130
null,0-50K,2929
Medicine staff,1L-1.5L,2761
Accountants,1L-1.5L,2643
High skill tech staff,1.5l-2L,2624
Security staff,1L-1.5L,2293
Core staff,Above 3L,2277
Accountants,1.5l-2L,2166
Medicine staff,50-1L,2113
Drivers,Above 3L,2073
High skill tech staff,2L-2.5L,2053
Cooking staff,1L-1.5L,2053
Accountants,2L-2.5L,1969
Sales staff,Above 3L,1721
Medicine staff,1.5l-2L,1700
Cooking staff,50-1L,1697
High skill tech staff,50-1L,1584
Cleaning staff,1L-1.5L,1561
Security staff,50-1L,1531
Drivers,50-1L,1526
Cleaning staff,50-1L,1520
Security staff,1.5l-2L,1363
High skill tech staff,Above 3L,1182
Medicine staff,2L-2.5L,1158
Accountants,Above 3L,1125
Cooking staff,1.5l-2L,1077
Accountants,50-1L,1060
Managers,50-1L,1046
Security staff,2L-2.5L,921
Low-skill Laborers,1L-1.5L,792
Private service staff,1L-1.5L,790
Cleaning staff,1.5l-2L,772
Cooking staff,2L-2.5L,692
Private service staff,1.5l-2L,601
Low-skill Laborers,50-1L,601
Private service staff,2L-2.5L,530
Waiters/barmen staff,1L-1.5L,469
Medicine staff,Above 3L,466
Secretaries,1L-1.5L,451
Cleaning staff,2L-2.5L,441
Low-skill Laborers,1.5l-2L,404
Waiters/barmen staff,50-1L,351
Security staff,Above 3L,337
Private service staff,50-1L,317
Laborers,0-50K,313
Secretaries,50-1L,296
Sales staff,0-50K,282
Waiters/barmen staff,1.5l-2L,254
Core staff,0-50K,247
Secretaries,1.5l-2L,237
Private service staff,Above 3L,236
Cooking staff,Above 3L,232
Low-skill Laborers,2L-2.5L,195
Realty agents,1L-1.5L,185
Realty agents,1.5l-2L,181
Realty agents,2L-2.5L,181
Waiters/barmen staff,2L-2.5L,169
Secretaries,2L-2.5L,166
HR staff,1L-1.5L,163
Cleaning staff,0-50K,159
Cleaning staff,Above 3L,143
HR staff,1.5l-2L,137
IT staff,1.5l-2L,127
Medicine staff,0-50K,125
IT staff,1L-1.5L,118
Cooking staff,0-50K,115
Security staff,0-50K,109
Realty agents,Above 3L,101
HR staff,2L-2.5L,101
IT staff,2L-2.5L,98
Secretaries,Above 3L,86
Low-skill Laborers,Above 3L,59
IT staff,Above 3L,59
Realty agents,50-1L,58
High skill tech staff,0-50K,58
Waiters/barmen staff,Above 3L,57
HR staff,50-1L,57
HR staff,Above 3L,57
IT staff,50-1L,56
Managers,0-50K,37
Drivers,0-50K,36
Accountants,0-50K,33
Low-skill Laborers,0-50K,32
Waiters/barmen staff,0-50K,17
Private service staff,0-50K,12
Secretaries,0-50K,11
HR staff,0-50K,1
IT staff,0-50K,1

Databricks visualization. Run in Databricks to view.

In [ ]:
df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|INCOME_RANGE|CREDIT_INCOME_RANGE|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|     2L-2.5L|              1L-5L|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|              School|    Above 3L|            10L-15L|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|          Government|       50-1L|              1L-5L|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|         Working|Secondary / secon...|      Civil marriage|House / apartment|       Laborers|Business Entity T...|     1L-1.5L|              1L-5L|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|            Religion|     1L-1.5L|             5L-10L|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+
only showing top 5 rows

## Finding Average Package of Occupation_Type

In [ ]:
odf = df.groupBy('OCCUPATION_TYPE').agg(f.mean('AMT_INCOME_TOTAL'))
odf = odf.withColumn('avg(AMT_INCOME_TOTAL)',f.round(odf['avg(AMT_INCOME_TOTAL)'],1))
odf = odf.withColumnRenamed('avg(AMT_INCOME_TOTAL)','AVG_INCOME')
odf.show()
display(odf)

+--------------------+----------+
|     OCCUPATION_TYPE|AVG_INCOME|
+--------------------+----------+
|                null|  141812.1|
|            Managers|  197921.9|
|            HR staff|  167959.2|
|      Medicine staff|  142990.7|
|         Accountants|  171726.6|
|            Laborers|  156368.1|
|      Cleaning staff|  127270.7|
|Private service s...|  165719.8|
|             Drivers|  174746.6|
|         Sales staff|  144154.9|
|       Realty agents|  181510.6|
|            IT staff|  174700.0|
|      Security staff|  143460.6|
|         Secretaries|  145461.8|
|  Low-skill Laborers|  132031.3|
|          Core staff|  156890.6|
|       Cooking staff|  135032.2|
|High skill tech s...|  165585.7|
|Waiters/barmen staff|  138593.4|
+--------------------+----------+

OCCUPATION_TYPE,AVG_INCOME
null,141812.1
Managers,197921.9
HR staff,167959.2
Medicine staff,142990.7
Accountants,171726.6
Laborers,156368.1
Cleaning staff,127270.7
Private service staff,165719.8
Drivers,174746.6
Sales staff,144154.9
Realty agents,181510.6
IT staff,174700.0
Security staff,143460.6
Secretaries,145461.8
Low-skill Laborers,132031.3
Core staff,156890.6
Cooking staff,135032.2
High skill tech staff,165585.7
Waiters/barmen staff,138593.4

Databricks visualization. Run in Databricks to view.

## Payment Difficulties

In [ ]:
def payment_difficulty(TARGET):
    if (TARGET==1):
        return 'YES'
    else:
        return 'NO'
    
payment_difficulty(0)

Out[57]: 'NO'

In [ ]:
from pyspark.sql.types import StringType
sparkfun = f.udf(payment_difficulty,StringType())
df = df.withColumn('PAY_DIFFICULTY',sparkfun(df['TARGET']))
df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+--------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|INCOME_RANGE|CREDIT_INCOME_RANGE|PAY_DIFFICULTY|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+--------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|     2L-2.5L|              1L-5L|           YES|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|              School|    Above 3L|            10L-15L|            NO|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|          Government|       50-1L|              1L-5L|            NO|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|         Working|Secondary / secon...|      Civil marriage|House / apartment|       Laborers|Business Entity T...|     1L-1.5L|              1L-5L|            NO|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|            Religion|     1L-1.5L|             5L-10L|            NO|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+--------------+
only showing top 5 rows

## Filtering data with Column PAY_DIFFICULTY=YES

In [ ]:
pay_df = df.filter(f.col('PAY_DIFFICULTY')=='YES')
pay_df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+--------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|   ORGANIZATION_TYPE|INCOME_RANGE|CREDIT_INCOME_RANGE|PAY_DIFFICULTY|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+--------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|       Laborers|Business Entity T...|     2L-2.5L|              1L-5L|           YES|
|    100031|     1|        Cash loans|          F|           N|              Y|           0|        112500.0|  979992.0|    27076.5|       702000.0|  Unaccompanied|             Working|Secondary / secon...|               Widow|House / apartment|  Cooking staff|Business Entity T...|     1L-1.5L|             5L-10L|           YES|
|    100047|     1|        Cash loans|          M|           N|              Y|           0|        202500.0| 1193580.0|    35028.0|       855000.0|  Unaccompanied|Commercial associate|Secondary / secon...|             Married|House / apartment|       Laborers|Business Entity T...|     2L-2.5L|            10L-15L|           YES|
|    100049|     1|        Cash loans|          F|           N|              N|           0|        135000.0|  288873.0|    16258.5|       238500.0|  Unaccompanied|             Working|Secondary / secon...|      Civil marriage|House / apartment|    Sales staff|       Self-employed|     1L-1.5L|              1L-5L|           YES|
|    100096|     1|        Cash loans|          F|           N|              Y|           0|         81000.0|  252000.0|    14593.5|       252000.0|  Unaccompanied|           Pensioner|Secondary / secon...|             Married|House / apartment|           null|                 XNA|       50-1L|              1L-5L|           YES|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+---------------+--------------------+------------+-------------------+--------------+
only showing top 5 rows

## Which Occupation faces most payment difficulty

In [ ]:
occ_df = df.groupBy('OCCUPATION_TYPE') \
    .agg(f.count('PAY_DIFFICULTY').alias('COUNT_OF_PAYMENT_DIFFICULTY')) \
    .orderBy('COUNT_OF_PAYMENT_DIFFICULTY',ascending=False)
occ_df.show()
display(occ_df)

+--------------------+---------------------------+
|     OCCUPATION_TYPE|COUNT_OF_PAYMENT_DIFFICULTY|
+--------------------+---------------------------+
|                null|                      92685|
|            Laborers|                      53515|
|         Sales staff|                      31167|
|          Core staff|                      26025|
|             Drivers|                      17639|
|            Managers|                      16875|
|High skill tech s...|                      10631|
|         Accountants|                       8996|
|      Medicine staff|                       8323|
|      Security staff|                       6554|
|       Cooking staff|                       5866|
|      Cleaning staff|                       4596|
|Private service s...|                       2486|
|  Low-skill Laborers|                       2083|
|Waiters/barmen staff|                       1317|
|         Secretaries|                       1247|
|       Realty agents|                        706|
|            HR staff|                        516|
|            IT staff|                        459|
+--------------------+---------------------------+

OCCUPATION_TYPE,COUNT_OF_PAYMENT_DIFFICULTY
null,92685
Laborers,53515
Sales staff,31167
Core staff,26025
Drivers,17639
Managers,16875
High skill tech staff,10631
Accountants,8996
Medicine staff,8323
Security staff,6554
Cooking staff,5866
Cleaning staff,4596
Private service staff,2486
Low-skill Laborers,2083
Waiters/barmen staff,1317
Secretaries,1247
Realty agents,706
HR staff,516
IT staff,459

Databricks visualization. Run in Databricks to view.

## Loading Previous Application Data

In [ ]:
ndf = spark.read.csv('/FileStore/tables/previous_application.csv',header=True,inferSchema=True)
ndf.show(5)

+----------+----------+------------------+-----------+---------------+----------+----------------+---------------+--------------------------+-----------------------+---------------------------+----------------------+-----------------+---------------------+------------------------+----------------------+--------------------+-------------+--------------------+------------------+---------------+----------------+-------------------+--------------+-----------------+--------------------+----------------+--------------------+-----------+----------------+--------------------+------------------+--------------+-------------------------+-------------+----------------+-------------------------+
|SK_ID_PREV|SK_ID_CURR|NAME_CONTRACT_TYPE|AMT_ANNUITY|AMT_APPLICATION|AMT_CREDIT|AMT_DOWN_PAYMENT|AMT_GOODS_PRICE|WEEKDAY_APPR_PROCESS_START|HOUR_APPR_PROCESS_START|FLAG_LAST_APPL_PER_CONTRACT|NFLAG_LAST_APPL_IN_DAY|RATE_DOWN_PAYMENT|RATE_INTEREST_PRIMARY|RATE_INTEREST_PRIVILEGED|NAME_CASH_LOAN_PURPOSE|NAME_CONTRACT_STATUS|DAYS_DECISION|   NAME_PAYMENT_TYPE|CODE_REJECT_REASON|NAME_TYPE_SUITE|NAME_CLIENT_TYPE|NAME_GOODS_CATEGORY|NAME_PORTFOLIO|NAME_PRODUCT_TYPE|        CHANNEL_TYPE|SELLERPLACE_AREA|NAME_SELLER_INDUSTRY|CNT_PAYMENT|NAME_YIELD_GROUP| PRODUCT_COMBINATION|DAYS_FIRST_DRAWING|DAYS_FIRST_DUE|DAYS_LAST_DUE_1ST_VERSION|DAYS_LAST_DUE|DAYS_TERMINATION|NFLAG_INSURED_ON_APPROVAL|
+----------+----------+------------------+-----------+---------------+----------+----------------+---------------+--------------------------+-----------------------+---------------------------+----------------------+-----------------+---------------------+------------------------+----------------------+--------------------+-------------+--------------------+------------------+---------------+----------------+-------------------+--------------+-----------------+--------------------+----------------+--------------------+-----------+----------------+--------------------+------------------+--------------+-------------------------+-------------+----------------+-------------------------+
|   2030495|    271877|    Consumer loans|    1730.43|        17145.0|   17145.0|             0.0|        17145.0|                  SATURDAY|                     15|                          Y|                     1|              0.0|  0.18283180324152784|      0.8673361522198731|                   XAP|            Approved|          -73|Cash through the ...|               XAP|           null|        Repeater|             Mobile|           POS|              XNA|        Country-wide|              35|        Connectivity|       12.0|          middle|POS mobile with i...|          365243.0|         -42.0|                    300.0|        -42.0|           -37.0|                      0.0|
|   2802425|    108129|        Cash loans|  25188.615|       607500.0|  679671.0|            null|       607500.0|                  THURSDAY|                     11|                          Y|                     1|             null|                 null|                    null|                   XNA|            Approved|         -164|                 XNA|               XAP|  Unaccompanied|        Repeater|                XNA|          Cash|           x-sell|      Contact center|              -1|                 XNA|       36.0|      low_action|    Cash X-Sell: low|          365243.0|        -134.0|                    916.0|     365243.0|        365243.0|                      1.0|
|   2523466|    122040|        Cash loans|  15060.735|       112500.0|  136444.5|            null|       112500.0|                   TUESDAY|                     11|                          Y|                     1|             null|                 null|                    null|                   XNA|            Approved|         -301|Cash through the ...|               XAP|Spouse, partner|        Repeater|                XNA|          Cash|           x-sell|Credit and cash o...|              -1|                 XNA|       12.0|            high|   Cash X-Sell: high|          365243.0|        -271.0|                     59.0|     365243.0|        365243.0|                      1.0|
|   2819243|    176158|        Cash loans|  47041.335|       450000.0|  470790.0|            null|       450000.0|                    MONDAY|                      7|                          Y|                     1|             null|                 null|                    null|                   XNA|            Approved|         -512|Cash through the ...|               XAP|           null|        Repeater|                XNA|          Cash|           x-sell|Credit and cash o...|              -1|                 XNA|       12.0|          middle| Cash X-Sell: middle|          365243.0|        -482.0|                   -152.0|       -182.0|          -177.0|                      1.0|
|   1784265|    202054|        Cash loans|  31924.395|       337500.0|  404055.0|            null|       337500.0|                  THURSDAY|                      9|                          Y|                     1|             null|                 null|                    null|               Repairs|             Refused|         -781|Cash through the ...|                HC|           null|        Repeater|                XNA|          Cash|          walk-in|Credit and cash o...|              -1|                 XNA|       24.0|            high|   Cash Street: high|              null|          null|                     null|         null|            null|                     null|
+----------+----------+------------------+-----------+---------------+----------+----------------+---------------+--------------------------+-----------------------+---------------------------+----------------------+-----------------+---------------------+------------------------+----------------------+--------------------+-------------+--------------------+------------------+---------------+----------------+-------------------+--------------+-----------------+--------------------+----------------+--------------------+-----------+----------------+--------------------+------------------+--------------+-------------------------+-------------+----------------+-------------------------+
only showing top 5 rows

## Getting columns that will be used in our analysis

In [ ]:
l = ['SK_ID_CURR','NAME_CONTRACT_TYPE','NAME_CONTRACT_STATUS']
n2df = ndf[l]
n2df.show()

+----------+------------------+--------------------+
|SK_ID_CURR|NAME_CONTRACT_TYPE|NAME_CONTRACT_STATUS|
+----------+------------------+--------------------+
|    271877|    Consumer loans|            Approved|
|    108129|        Cash loans|            Approved|
|    122040|        Cash loans|            Approved|
|    176158|        Cash loans|            Approved|
|    202054|        Cash loans|             Refused|
|    199383|        Cash loans|            Approved|
|    175704|        Cash loans|            Canceled|
|    296299|        Cash loans|            Canceled|
|    342292|        Cash loans|            Canceled|
|    334349|        Cash loans|            Canceled|
|    447712|        Cash loans|            Approved|
|    161140|        Cash loans|            Approved|
|    258628|        Cash loans|            Approved|
|    321676|    Consumer loans|            Approved|
|    270658|    Consumer loans|            Approved|
|    151612|    Consumer loans|            Approved|
|    154602|    Consumer loans|            Approved|
|    142748|   Revolving loans|            Approved|
|    396305|        Cash loans|            Approved|
|    199178|        Cash loans|             Refused|
+----------+------------------+--------------------+
only showing top 20 rows

## Joining two dataframes

In [ ]:
joined_df = df.join(n2df,on=['SK_ID_CURR'])
joined_df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+-----------------+------------+-------------------+--------------+------------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|ORGANIZATION_TYPE|INCOME_RANGE|CREDIT_INCOME_RANGE|PAY_DIFFICULTY|NAME_CONTRACT_TYPE|NAME_CONTRACT_STATUS|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+-----------------+------------+-------------------+--------------+------------------+--------------------+
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|           School|    Above 3L|            10L-15L|            NO|        Cash loans|            Approved|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|           School|    Above 3L|            10L-15L|            NO|    Consumer loans|            Approved|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|           School|    Above 3L|            10L-15L|            NO|    Consumer loans|            Approved|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|         Religion|     1L-1.5L|             5L-10L|            NO|        Cash loans|            Approved|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|         Religion|     1L-1.5L|             5L-10L|            NO|        Cash loans|            Approved|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+-----------------+------------+-------------------+--------------+------------------+--------------------+
only showing top 5 rows

## Counting which family status gets loan Approved or refused or canceled

In [ ]:
n3df = joined_df.groupBy('NAME_FAMILY_STATUS','NAME_CONTRACT_STATUS') \
    .agg(f.count('NAME_CONTRACT_STATUS')) \
    .orderBy('NAME_FAMILY_STATUS')
n3df.show()
display(n3df)

+--------------------+--------------------+---------------------------+
|  NAME_FAMILY_STATUS|NAME_CONTRACT_STATUS|count(NAME_CONTRACT_STATUS)|
+--------------------+--------------------+---------------------------+
|      Civil marriage|            Approved|                      82515|
|      Civil marriage|             Refused|                      26561|
|      Civil marriage|            Canceled|                      24665|
|      Civil marriage|        Unused offer|                       1876|
|             Married|            Approved|                     547135|
|             Married|            Canceled|                     157660|
|             Married|        Unused offer|                      13620|
|             Married|             Refused|                     142730|
|           Separated|        Unused offer|                       1538|
|           Separated|            Approved|                      53674|
|           Separated|             Refused|                      15334|
|           Separated|            Canceled|                      15511|
|Single / not married|             Refused|                      32255|
|Single / not married|            Approved|                     109495|
|Single / not married|            Canceled|                      31597|
|Single / not married|        Unused offer|                       3945|
|               Widow|            Canceled|                      15517|
|               Widow|             Refused|                      13762|
|               Widow|        Unused offer|                        733|
|               Widow|            Approved|                      49163|
+--------------------+--------------------+---------------------------+

NAME_FAMILY_STATUS,NAME_CONTRACT_STATUS,count(NAME_CONTRACT_STATUS)
Civil marriage,Approved,82515
Civil marriage,Refused,26561
Civil marriage,Canceled,24665
Civil marriage,Unused offer,1876
Married,Approved,547135
Married,Canceled,157660
Married,Unused offer,13620
Married,Refused,142730
Separated,Unused offer,1538
Separated,Approved,53674
Separated,Refused,15334
Separated,Canceled,15511
Single / not married,Refused,32255
Single / not married,Approved,109495
Single / not married,Canceled,31597
Single / not married,Unused offer,3945
Widow,Canceled,15517
Widow,Refused,13762
Widow,Unused offer,733
Widow,Approved,49163

Databricks visualization. Run in Databricks to view.

## Filtering data Family status=Married

In [ ]:
fam_df = n3df.filter(n3df['NAME_FAMILY_STATUS']=='Married')
display(fam_df)

NAME_FAMILY_STATUS,NAME_CONTRACT_STATUS,count(NAME_CONTRACT_STATUS)
Married,Approved,547135
Married,Canceled,157660
Married,Unused offer,13620
Married,Refused,142730

Databricks visualization. Run in Databricks to view.

## How many loans gets refused

In [ ]:
ref_df = n3df.filter(n3df['NAME_CONTRACT_STATUS']== 'Refused')
ref_df.show()
display(ref_df)

+--------------------+--------------------+---------------------------+
|  NAME_FAMILY_STATUS|NAME_CONTRACT_STATUS|count(NAME_CONTRACT_STATUS)|
+--------------------+--------------------+---------------------------+
|      Civil marriage|             Refused|                      26561|
|             Married|             Refused|                     142730|
|           Separated|             Refused|                      15334|
|Single / not married|             Refused|                      32255|
|               Widow|             Refused|                      13762|
+--------------------+--------------------+---------------------------+

NAME_FAMILY_STATUS,NAME_CONTRACT_STATUS,count(NAME_CONTRACT_STATUS)
Civil marriage,Refused,26561
Married,Refused,142730
Separated,Refused,15334
Single / not married,Refused,32255
Widow,Refused,13762

Databricks visualization. Run in Databricks to view.

## Different professionals have different income range

In [ ]:
joined_df.show(5)

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+-----------------+------------+-------------------+--------------+------------------+--------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|OCCUPATION_TYPE|ORGANIZATION_TYPE|INCOME_RANGE|CREDIT_INCOME_RANGE|PAY_DIFFICULTY|NAME_CONTRACT_TYPE|NAME_CONTRACT_STATUS|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+-----------------+------------+-------------------+--------------+------------------+--------------------+
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|           School|    Above 3L|            10L-15L|            NO|        Cash loans|            Approved|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|           School|    Above 3L|            10L-15L|            NO|    Consumer loans|            Approved|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|   State servant|    Higher education|             Married|House / apartment|     Core staff|           School|    Above 3L|            10L-15L|            NO|    Consumer loans|            Approved|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|         Religion|     1L-1.5L|             5L-10L|            NO|        Cash loans|            Approved|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|         Working|Secondary / secon...|Single / not married|House / apartment|     Core staff|         Religion|     1L-1.5L|             5L-10L|            NO|        Cash loans|            Approved|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+----------------+--------------------+--------------------+-----------------+---------------+-----------------+------------+-------------------+--------------+------------------+--------------------+
only showing top 5 rows

In [ ]:
c1df = joined_df.groupBy('NAME_INCOME_TYPE') \
    .agg(f.count('AMT_INCOME_TOTAL')) \
    .orderBy('count(AMT_INCOME_TOTAL)',ascending=False)
c1df.show()
display(c1df)

+--------------------+-----------------------+
|    NAME_INCOME_TYPE|count(AMT_INCOME_TOTAL)|
+--------------------+-----------------------+
|             Working|                 694409|
|Commercial associate|                 290341|
|           Pensioner|                 266286|
|       State servant|                  88087|
|          Unemployed|                    123|
|             Student|                     24|
|     Maternity leave|                     16|
+--------------------+-----------------------+

NAME_INCOME_TYPE,count(AMT_INCOME_TOTAL)
Working,694409
Commercial associate,290341
Pensioner,266286
State servant,88087
Unemployed,123
Student,24
Maternity leave,16

Databricks visualization. Run in Databricks to view.

## Different working professionals gets loan approved or refused or canceled

In [ ]:
wdf = joined_df.groupBy('NAME_INCOME_TYPE','NAME_CONTRACT_STATUS') \
    .agg(f.count('NAME_CONTRACT_STATUS')) \
    .orderBy('NAME_INCOME_TYPE')
wdf.show()
display(wdf)

+--------------------+--------------------+---------------------------+
|    NAME_INCOME_TYPE|NAME_CONTRACT_STATUS|count(NAME_CONTRACT_STATUS)|
+--------------------+--------------------+---------------------------+
|Commercial associate|             Refused|                      51769|
|Commercial associate|            Approved|                     180068|
|Commercial associate|            Canceled|                      53840|
|Commercial associate|        Unused offer|                       4664|
|     Maternity leave|            Approved|                         10|
|     Maternity leave|             Refused|                          3|
|     Maternity leave|            Canceled|                          2|
|     Maternity leave|        Unused offer|                          1|
|           Pensioner|            Canceled|                      55898|
|           Pensioner|             Refused|                      42320|
|           Pensioner|            Approved|                     166182|
|           Pensioner|        Unused offer|                       1886|
|       State servant|            Canceled|                      14522|
|       State servant|             Refused|                      14509|
|       State servant|            Approved|                      57606|
|       State servant|        Unused offer|                       1450|
|             Student|            Approved|                         20|
|             Student|            Canceled|                          3|
|             Student|             Refused|                          1|
|          Unemployed|             Refused|                         38|
+--------------------+--------------------+---------------------------+
only showing top 20 rows

NAME_INCOME_TYPE,NAME_CONTRACT_STATUS,count(NAME_CONTRACT_STATUS)
Commercial associate,Refused,51769
Commercial associate,Approved,180068
Commercial associate,Canceled,53840
Commercial associate,Unused offer,4664
Maternity leave,Approved,10
Maternity leave,Refused,3
Maternity leave,Canceled,2
Maternity leave,Unused offer,1
Pensioner,Canceled,55898
Pensioner,Refused,42320
Pensioner,Approved,166182
Pensioner,Unused offer,1886
State servant,Canceled,14522
State servant,Refused,14509
State servant,Approved,57606
State servant,Unused offer,1450
Student,Approved,20
Student,Canceled,3
Student,Refused,1
Unemployed,Refused,38
Unemployed,Approved,68
Unemployed,Canceled,16
Unemployed,Unused offer,1
Working,Refused,122002
Working,Canceled,120669
Working,Approved,438028
Working,Unused offer,13710

Databricks visualization. Run in Databricks to view.